
   @font-face {
    font-family: 'Raleway';
    src: url('../static/Raleway-Light.ttf')  format('truetype'),
    url('..static/Raleway-SemiBold.ttf')  format('truetype') ;
   
}




// --CHARGEMENT DU STYLE DESKTOP--

// desactivation du trio de br dans le block aside, celui ci sera activé dans la version mobile uniquement--
.br {
    display: none;
}


@media all and (min-width: 992px)  {
    

html{
    width:auto;
    header{
        // decalage de tous les blocs de cette ensemble  de 40 px vers la droite
    padding-left: 40px;
    }
   
}
main{
    // decalage de tous les blocs de cette ensemble  de 40 px vers la droite
    padding-left: 40px;
    
    h1,span {
        font-family:'Raleway';
    }

    @include font-size2;
    // .hebergemenets-aside{
    //     border: 1px solid green;
    // }


    figure{ 
        all: unset;
        // padding: 20px;
        & figcaption a {
            all:unset;
        }
}

    

    .aside{
        #populaire{
            padding-left: 20px;
        }
            display: flex;
            flex-direction: column;
            // border: 1px solid red;
            @include taille-couleur-bloc-aside-hebergement(650px,380px);
            margin-left: 40px;

            & h1{
                & i{
                    float: right;
                    margin-right: 30px;
                }
            }

        &-img{
           
            @include dimensions-image(115px,150px);
            //forsage , en effet le border-raduis preccedent s'applique 
            //mais la ligne suivante nous permet de forcer et d'avoir une autre forme de bordure
            border-radius : 20px 1px 1px 20px;
        }

        
        &-caption11{
            @include etoiles;
            &-img1{
                @include typo-fontWeifgh;
            }
        }
        &-caption12{
            @include etoiles;
            &-img1{
                @include typo-fontWeifgh;
            }
        }
        &-caption13{
            @include etoiles;
            &-img1{
                @include typo-fontWeifgh;
            }
        }
        &-align{
            display: flex;
            @include white-radius-background-aside-hebergement;
            //AGRANDISSEMENT FOND BLEU
            &:hover{
                @include agrandissement_generale;
            }
        }

        &-caption{
            margin-left: 20px;
           
        }
}


.img-heberegements
    {
        // @include  dimensions-image-pourcent(50%,80%)
        @include dimensions-image(100px,230px);
       
    }
   

  .hebergement--figure{
    display: flex;
    flex-direction: column;
    @include white-radius-background-aside-hebergement;

    //AGRANDISSEMENT FOND BLEU
        &:hover{
            @include agrandissement_generale;
        }
    
    // border: 1px solid black;
  }
    
    .figure_hebergements_bloc1{
        &_caption11{
            @include typo-fontWeifgh;
            @include etoiles;
        }
        &_caption12{
            @include typo-fontWeifgh;
            @include etoiles;
        }
        &_caption13{
            @include typo-fontWeifgh;
            @include etoiles;
        }
    }

    .figure_hebergements_bloc2{
        &_caption21{
            font-size:$taille_etoiles;
            @include typo-fontWeifgh;
            @include etoiles;
        }
        &_caption22{
            @include typo-fontWeifgh;
           @include etoiles;
        }
        &_caption23{
            @include typo-fontWeifgh;
            &_star{
                color: blue;
                font-size:$taille_etoiles;
            }
        }
    }

    .hebergements{
         #Hebergements{
            // positionnement du titre HEBERGEMENT  a 20px de la bordure gauche
            padding-left: 20px;

        }

        //    margin-top: 1px;
                 @include taille-couleur-bloc-aside-hebergement(650px,900px);
                // background-color: burlywood;
                // border-radius: 20px;
                // height: 120%;
            //    width: 65%;
               
                &--bloc1{
                    display: flex;
                }
                &--bloc2{
                    display: flex;
                }
            }

   

    .hebergements--bloc3-afficherPlus{
        
        @include typo-fontWeifgh;
        margin-left: 40px;
        & a{
            all:unset;
        }
    }
    
   .hebergemenets-aside{
    display:flex;
   }

 //images du bloc activité
//image active concerne les proprietes qui doivent s qpliquer a tous les images du bloc activité
 .img-activite{
    //taille de límage
    @include dimensions-image(180px,289px);
}

//dernier bloc d'images

   .last-section{
    
    display: flex;
    // border: 2px solid black;
    // padding-bottom: 50px;
    min-width: 1300px;
    // padding-left: none;
    
    
    
     &--column1{
        display: flex;
        flex-direction: column;
    }
   
    &--column2{
        display: flex;
        flex-direction: column;

       
    }
   }

//class definissant le comportyement dans le selecteur figuer

.figure_last-section_class-generale{
    display: flex;
    flex-direction: column;
    margin: 20px;

}
figcaption{
@include margin-figcaption-last;
}

   #last-section--row1{

    //taille de límage
    @include dimensions-image(445px,289px);

     //AGRANDISSEMENT FOND BLEU
   
    margin-top:5px;
    // margin-bottom:unset;
    // margin-bottom: 5px;
   }

   #last-section--row2{
    //taille de límage
    @include dimensions-image(445px,289px);
  
}

//actions dans la balise figure

.figure_last-section_row1{
    // display: flex;
    // flex-direction: column;
    @include last-section-radius-shadow;

     //AGRANDISSEMENT FOND BLEU
     &:hover{
        @include agrandissement_generale;
    }
  

    &_caption{
        @include typo-fontWeifgh;
        @include padding-left;
    }}

    .figure_last-section_row2{
        // display: flex;
        //     flex-direction: column;
        @include last-section-radius-shadow;

         //AGRANDISSEMENT FOND BLEU
         &:hover{
            @include agrandissement_generale;
        }

        &_caption{
            @include typo-fontWeifgh;
            @include padding-left;
        }}

.figure_last-section_column10{
    // display: flex;
    //         flex-direction: column;
    @include last-section-radius-shadow;
     //AGRANDISSEMENT FOND BLEU
     &:hover{
        @include agrandissement_generale;
    }
    
    &_caption{
        @include typo-fontWeifgh;
        @include padding-left;
    }}

    .figure_last-section_column11{
        // display: flex;
        //     flex-direction: column;
        @include last-section-radius-shadow;

         //AGRANDISSEMENT FOND BLEU
         &:hover{
            @include agrandissement_generale;
        }
       
        &_caption{
            @include typo-fontWeifgh;
            @include padding-left;
        }}

        .figure_last-section_column20{
            // display: flex;
            // flex-direction: column;
            @include last-section-radius-shadow;

             //AGRANDISSEMENT FOND BLEU
             &:hover{
                @include agrandissement_generale;
            }
           
            &_caption{
                @include typo-fontWeifgh;
                @include padding-left;
            }}

            .figure_last-section_column21{
              
                @include last-section-radius-shadow;

                 //AGRANDISSEMENT FOND BLEU
            &:hover{
                @include agrandissement_generale;
            }
               
                &_caption{
                    @include typo-fontWeifgh;
                    @include padding-left;
                }}
}
}








// // ---------------------------------------
// // --CHARGEMENT DU STYLE TABLETTE--
// // ---------------------------------------
// and (max-width:2000px)







@media all and (min-width: 778px)and (max-width: 991px) {
    html{
        min-width: auto;
       
    }
    #populaire{
        padding-left: 20px;
    }
    figcaption{
        @include margin-figcaption-last_tab;
    }
    
     main{
        section{
            all: unset;
        }
      
        h1,span {
            font-family:'Raleway';
        }
    
        @include font-size2_tab;
        
        figure{ 
            all: unset;
           
            & figcaption a {
                all:unset;
            }
    }
    
        
    
        .aside{
                display: flex;
                flex-direction: column;
                // border: 1px solid red;
                @include taille-couleur-bloc-aside-hebergement_tab(100%,350px);
                margin-left: 40px;
    
                & h1{
                    & i{
                        float: right;
                        margin-right: 30px;
                    }
                }
    
            &-img{
               
                @include dimensions-image_tab(80px,80px);
                //forsage , en effet le border-raduis preccedent s'applique 
                //mais la ligne suivante nous permet de forcer et d'avoir une autre forme de bordure
                border-radius : 20px 1px 1px 20px;
            }
    
            
            &-caption11{
                @include etoiles_tab;
                &-img1{
                    @include typo-fontWeifgh_tab;
                }
            }
            &-caption12{
                @include etoiles_tab;
                &-img1{
                    @include typo-fontWeifgh_tab;
                }
            }
            &-caption13{
                @include etoiles;
                &-img1{
                    @include typo-fontWeifgh_tab;
                }
            }
            &-align{
                display: flex;
                @include white-radius-background-aside-hebergement_tab;
                //agrandissement fond bleu
                &:hover{
                    @include agrandissement_generale;
                }
          
            }
    
            &-caption{
                margin-left: 20px;
               
            }
    }
    
    
    .img-heberegements
        {
            // @include  dimensions-image-pourcent(50%,80%)
            @include dimensions-image_tab(90px,130px);
           
        }
      .hebergement--figure{
        display: flex;
        flex-direction: column;
        @include white-radius-background-aside-hebergement_tab;

         //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
        
        // border: 1px solid black;
      }
        
        .figure_hebergements_bloc1{
            &_caption11{
                @include typo-fontWeifgh_tab;
                @include etoiles_tab;
            }
            &_caption12{
                @include typo-fontWeifgh_tab;
                @include etoiles_tab;
            }
            &_caption13{
                @include typo-fontWeifgh_tab;
                @include etoiles_tab;
            }
        }
    
        .figure_hebergements_bloc2{
            &_caption21{
                font-size:$taille_etoiles;
                @include typo-fontWeifgh_tab;
                @include etoiles_tab;
            }
            &_caption22{
                @include typo-fontWeifgh_tab;
               @include etoiles_tab;
            }
            &_caption23{
                @include typo-fontWeifgh_tab;
                &_star{
                    color: blue;
                    font-size:$taille_etoiles;
                }
            }
        }
    
        .hebergements{
      
                     @include taille-couleur-bloc-aside-hebergement_tab(100%,600px);
                    
                // border:  2px solid greenyellow;
                   
                    &--bloc1{
                        display: flex;
                    }
                    &--bloc2{
                        display: flex;
                    }
                }
    
       
    
        .hebergements--bloc3-afficherPlus{
            
            @include typo-fontWeifgh_tab;
            margin-left: 40px;
            & a{
                all:unset;
            }
        }
        
       .hebergemenets-aside{
        display:flex;
       }
    
    
    
     //images du bloc activité
    //image active concerne les proprietes qui doivent s qpliquer a tous les images du bloc activité
     .img-activite{
        //taille de límage
        @include dimensions-image_tab(90px,200px);
    }
    
    //dernier bloc d'images
    
       .last-section{
        
        display: flex;
       
        width: 100%;
        
        
         &--column1{
            display: flex;
            flex-direction: column;
        }
       
        &--column2{
            display: flex;
            flex-direction: column;
    
           
        }
       }
    
    //class definissant le comportyement dans le selecteur figuer
    
    .figure_last-section_class-generale{
        display: flex;
        flex-direction: column;
        margin: 20px;
    
    }
    
       #last-section--row1{
        //taille de límage
        @include dimensions-image_tab(245px,200px);
       }
    
       #last-section--row2{
        //taille de límage
        @include dimensions-image_tab(245px,200px);
    }
    
    //actions dans la balise figure
    
    .figure_last-section_row1{
        // display: flex;
        // flex-direction: column;
        @include last-section-radius-shadow_tab;

         //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
      
    
        &_caption{
            @include typo-fontWeifgh_tab;
            @include padding-left_tab;
        }}
    
        .figure_last-section_row2{
            // display: flex;
            //     flex-direction: column;
            @include last-section-radius-shadow_tab;

             //agrandissement fond bleu
             &:hover{
                @include agrandissement_generale;
            }
    
            &_caption{
                @include typo-fontWeifgh_tab;
                @include padding-left_tab;
            }}
    
    .figure_last-section_column10{
        // display: flex;
        //         flex-direction: column;
        @include last-section-radius-shadow_tab;

         //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
        
        &_caption{
            @include typo-fontWeifgh_tab;
            @include padding-left_tab;
        }}
    
        .figure_last-section_column11{
            // display: flex;
            //     flex-direction: column;
            @include last-section-radius-shadow_tab;
             //agrandissement fond bleu
             &:hover{
                @include agrandissement_generale;
            }
           
            &_caption{
                @include typo-fontWeifgh_tab;
                @include padding-left_tab;
            }}
    
            .figure_last-section_column20{
                // display: flex;
                // flex-direction: column;
                @include last-section-radius-shadow_tab;
                 //agrandissement fond bleu
                 &:hover{
                    @include agrandissement_generale;
                }
               
                &_caption{
                    @include typo-fontWeifgh_tab;
                    @include padding-left_tab;
                }}
    
                .figure_last-section_column21{
                  
                    @include last-section-radius-shadow_tab;
                     //agrandissement fond bleu
                &:hover{
                    @include agrandissement_generale;
                }
                   
                    &_caption{
                        @include typo-fontWeifgh_tab;
                        @include padding-left_tab;
                    }}
    
    
                    
    
    }
    
    
}










// // ------------------------------
// // --CHARGEMENT DU STYLE mobile--
// // ------------------------------
// and (max-width: 991px)
// and (max-width: 777px) 
// all and (min-width:200px) and (max-width:777)







@media (max-device-width :777px) {

   
    // =========================================================//
    // ==activation du selecteur desactivé au debut de ce cour==//
    #populaire{
        padding-left: 20px;
    }
    .br{
        display: flex;
    }
   

    figcaption{
        @include font-size2_mob;

    }
    
     main{
       
        section{
            all: unset;
        }
     
        h1,span {
            font-family:'Raleway';
        }
    
        @include font-size_mob;
        // .hebergemenets-aside{
        //     min-width: 768px;
        //     max-width: 991px;
        //     border: 1px solid green;
        // }
    
    
        figure{ 
            all: unset;
           
            & figcaption a {
                all:unset;
            }
       }
    
        
    
        .aside{
            all:unset;
                display: flex;
                flex-direction: column;
                // border: 1px solid red;
                @include taille-couleur-bloc-aside-hebergement_mob(auto,100%);
              
                & h1{
                    & i{
                        float: right;
                        margin-right: 30px;
                    }
                }
    
            &-img{
               
                @include dimensions-image_mob(300px,400px);

                //forsage , en effet le border-raduis preccedent s'applique 
                //mais la ligne suivante nous permet de forcer et d'avoir une autre forme de bordure
                border-radius : 20px 1px 1px 20px;
            }
            
            
            &-caption11{
               
                
                @include etoiles_mob(rgb(15, 68, 244),gray);
                &-img1{
                    @include typo-fontWeifgh_mob;
                }
            }
            
            &-caption12{
                @include etoiles_mob;
                &-img1{
                    @include typo-fontWeifgh_mob;
                }
            }
            &-caption13{
                @include etoiles_mob;
                &-img1{
                    @include typo-fontWeifgh_mob;
                }
            }
            &-align{
                
                display: flex;
               
                @include white-radius-background-aside_mob;
                 //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
          
            }
    
            &-caption{
                margin-left: 20px;
               
            }
           
        }
    
    
    .img-heberegements
        {
            // @include  dimensions-image-pourcent(50%,80%)
            @include last-section-radius-shadow_mob;
            @include dimensions-image_mob(300px,100%);
           
        }
      .hebergement--figure{
        display: flex;
        flex-direction: column;
       
        @include  white-radius-background-hebergement-last_mob(auto , 95%);
        
        border: 1px solid black;
         //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
      }
        
        .figure_hebergements_bloc1{
            &_caption11{
                @include typo-fontWeifgh_mob;
                @include etoiles_mob;
            }
            &_caption12{
                @include typo-fontWeifgh_mob;
                @include etoiles_mob;
            }
            &_caption13{
                @include typo-fontWeifgh_mob;
                @include etoiles_mob;
            }
        }
    
        .figure_hebergements_bloc2{
            &_caption21{
                // font-size:$taille_etoiles;
                @include typo-fontWeifgh_mob;
                @include etoiles_mob;
                // color: red;
                @include font-size2_mob;
            }
            &_caption22{
                @include typo-fontWeifgh_mob;
               @include etoiles_mob;
            }
            &_caption23{
                @include typo-fontWeifgh_mob;
                &_star{
                    color:$blue;
                    font-size:$taille_etoiles_mob;
                }
            }
        }
    
        .hebergements{
      
                     @include taille-couleur-bloc-aside-hebergement_mob(auto,100%);
                    
                border:  2px solid greenyellow;
                   
                    &--bloc1{
                        display: flex;
                        flex-direction: column;
                    }
                    &--bloc2{
                        display: flex;
                        flex-direction: column;
                    }
                }
    
       
    
        .hebergements--bloc3-afficherPlus{
            
            @include typo-fontWeifgh_mob;
            margin-left: 40px;
            & a{
                all:unset;
            }
        }
        
       .hebergemenets-aside{
        display:flex;
        flex-direction: column-reverse;
       }
    
    
    
     //images du bloc activité
    //image active concerne les proprietes qui doivent s qpliquer a tous les images du bloc activité


     .img-activite{
        //taille de límage
        @include dimensions-image_mob(300px,100%);
    }
    
    //dernier bloc d'images
    
       .last-section{
        figcaption{
         
            @include  margin-figcaption-last_mob;
        }
        
        display: flex;
        flex-direction: column;
       
        // width: 100%;
        
        
         &--column1{
            display: flex;
            flex-direction: column;
        }
       
        &--column2{
            display: flex;
            flex-direction: column;
            .white-radius-background-aside{
        padding: 5px;
        margin: 20px;
        // border-radius: 20px ;
        background-color: white;
            }
    
           
        }
       }
    
    //class definissant le comportyement dans le selecteur figuer
    
    .figure_last-section_class-generale{
        display: flex;
        flex-direction: column;
        margin: 20px;
    
    }
    
       #last-section--row1{
        //taille de límage
        @include dimensions-image_mob(300px,100%);
       }
    
       #last-section--row2{
        //taille de límage
        @include dimensions-image_mob(300px,100%);
    }
    
    //actions dans la balise figure
    
    .figure_last-section_row1{
        // display: flex;
        // flex-direction: column;
        // @extend .last-section-radius-shadow;
        @include  white-radius-background-hebergement-activite_mob(auto , 95%);
         //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
      
    
        &_caption{
            @include typo-fontWeifgh_mob;
            @include padding-left_mob;
        }}
    
        .figure_last-section_row2{
            // display: flex;
            //     flex-direction: column;
            // @extend .last-section-radius-shadow;
            // @extend .white-radius-background-hebergement-last;
            @include  white-radius-background-hebergement-activite_mob(auto , 95%);
             //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
    
            &_caption{
                @include typo-fontWeifgh_mob;
                @include padding-left_mob;
            }}
    
    .figure_last-section_column10{
        // display: flex;
        //         flex-direction: column;
        // @extend .last-section-radius-shadow;
        // @extend .white-radius-background-hebergement-last;
        @include  white-radius-background-hebergement-activite_mob(auto , 95%);
         //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
        
        &_caption{
            @include typo-fontWeifgh_mob;
            @include padding-left_mob;
        }}
    
        .figure_last-section_column11{
            // display: flex;
            //     flex-direction: column;
            // @extend .last-section-radius-shadow;
            // @extend .white-radius-background-hebergement-last;
            @include  white-radius-background-hebergement-activite_mob(auto , 95%);
             //agrandissement fond bleu
         &:hover{
            @include agrandissement_generale;
        }
           
            &_caption{
                @include typo-fontWeifgh_mob;
                @include padding-left_mob;
            }}
    
            .figure_last-section_column20{
                // display: flex;
                // flex-direction: column;
                // @extend .last-section-radius-shadow;
                // @extend .white-radius-background-hebergement-last;
                @include  white-radius-background-hebergement-activite_mob(auto , 95%);
                 //agrandissement fond bleu
                &:hover{
                    @include agrandissement_generale;
                }
               
                &_caption{
                    @include typo-fontWeifgh_mob;
                    @include padding-left_mob;
                }}
    
                .figure_last-section_column21{
                  
                    // @extend .last-section-radius-shadow;
                    // @extend .white-radius-background-hebergement-last;
                    @include  white-radius-background-hebergement-activite_mob(auto , 95%);
                     //agrandissement fond bleu
                    &:hover{
                        @include agrandissement_generale;
                    }
                   
                    &_caption{
                        @include typo-fontWeifgh_mob;
                        @include padding-left_mob;
                    }}
    
    }
    
    
    
}

