



// --- desactivation general pour les elemenys qui seront uniquement neccessaire dans le bloc mobile===//
#seachsuite {
    display: none;
}
#thirdblock-mobil-uniqu{
    display: none;
}
// --- desactivation general pour les elemenys qui seront uniquement neccessaire dans le bloc mobile===//


// --CHARGEMENT DU STYLE DESKTOP--

@media screen and (min-width: 992px) {
   

.firstblock{ 
    min-width:1300px;
   

   

    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include font-size;

    & img{
        @include dimensions-image(40px , 80px);
        padding:30px  ;
        border-radius: unset;
    }

   

  &-ul{
    display: flex;

    &--li{
        list-style-type: none;
        & a{
            all:unset;
        }

    }
    &--li1{
        border-top: 2px solid $blue;
    }
 }
     li{
        padding:30px  ;
     }
    //  ul :nth-child(1){
    //     border-top: 2px solid $blue;
    //  }
     li:hover{
        color: $blue;
        border-top: 2px solid $blue;
     }
} 

.secondblock{
    // border: 1px solid red;
    
    margin-bottom: 20px;
    @include font-size;
    &-s1{
        @include typo-fontWeifgh;
        font-family:'Raleway';
     
    }

    &-s2{
        margin-top: 1px;
        font-family: 'Raleway';
       
       }
}


.thirdblock{


    // border: 1px solid green;
    display: inline-flex;
    @include font-size;
    font-family:'Raleway';

    & span{
        
        // marg exterieur
        // margin: 10px ;
        //marge interieur
        padding-right: 15px;
        @include typo-fontWeifgh;
       
    }
    i{ 
    //--cette zone permet essentiellement de centrer--//
        display: inline-flex;
        align-items: center;
        justify-content: center;
    //--cette zone permet essentiellement de centrer--//
        height: 35px;
        width: 35px;
        color: $blue;
        background-color: $bleue-claire;
        border: 2px solid $gris;
        border-radius: 50% 50% 50%  50%;

        
       
        
        font-size: smaller
    }
    &--div{
        height: 39px;
        width: auto;
        border: 1px solid $gris;
       
        border-radius: 60px 60px 60px 60px;
        
        margin-left: 20px;
    }

    &--div:hover{
        color: white;
        background-color: $gris;
        color: $blue;
        & i{
            color: $gris;
                background-color: $blue;
          
        }
     
    }

    
}


.lastblock{

    @include font-size;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Raleway';

       & div{
        font-size: 15px;
       
        & i{
            
           
            height: 35px;
        width: 35px;
        color: $blue;
        // background-color: $bleue-claire;
        border: 2px solid $gris;
        border-radius: 50% 50% 50%  50%;

         //--cette zone permet essentiellement de centrer--//
         display: inline-flex;
         align-items: center;
         justify-content: center;
     //--cette zone permet essentiellement de centrer--//
            
           
            font-size: smaller;

            }}
    
}

form{

    @include font-size;
     div{
        width: 200px;
       height: 50px;
        
        margin-bottom: 20px;
     }
     .form-div{
        display:flex;
        & i{
            
            background-color:$gris;
            border-radius: 20px 0px 0px 20px;
           padding: 15px;
        }
        & input{
            all: unset;
            border: 1px solid $gris;
           &:focus{
                border: 3px solid $blue;
            }
        
        }
        & label{
            // background-color: grey;
            border-radius: 0px 20px 20px 0px;
            font-size: large;
            padding: 12px;
            @include typo-fontWeifgh;
            
                background-color: $blue;
                color: white;
            &:hover{
                background-color: $bleue-claire;
                color: $blue;
            }
        }
     }

}
}





// // ---------------------------------------
// // --CHARGEMENT DU STYLE TABLETTE--
// // ---------------------------------------





@media screen and (min-width: 778px) and (max-width: 991px){
    
.firstblock{ 
    

    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include font-size_tab;

    & img{
        @include dimensions-image_tab(40px , 80px);
        padding:30px  ;
        border-radius: unset;
    }

   

  &-ul{
    display: flex;

    &--li{
        list-style-type: none;
        & a{
            all:unset;
        }

    }
    &--li1{
        border-top: 2px solid $blue;
    }
 }
     li{
        padding:30px  ;
     }
   
     li:hover{
        color: $blue;
        border-top: 2px solid $blue;
     }
} 

.secondblock{
    // border: 1px solid red;
    
    margin-bottom: 20px;
    @include font-size_tab;
    &-s1{
        @include typo-fontWeifgh_tab;
        font-family:'Raleway';
     
    }

    &-s2{
        margin-top: 1px;
        font-family: 'Raleway';
       
       }
}




.thirdblock{

    // border: 1px solid green;
    display: inline-flex;
    @include font-size;
    font-family:'Raleway';

    & span{
        
        // marg exterieur
        // margin: 10px ;
        //marge interieur
        padding-right: 15px;
        @include typo-fontWeifgh;
        font-size: auto;
       
    }
    i{ 
    //--cette zone permet essentiellement de centrer--//
        display: inline-flex;
        align-items: center;
        justify-content: center;
    //--cette zone permet essentiellement de centrer--//
        height: 35px;
        width: 35px;
        color: $blue;
        background-color: $bleue-claire;
        border: 2px solid $gris;
        border-radius: 50% 50% 50%  50%;

        
       
        
        font-size: smaller
    }
    &--div{
        height: 39px;
        width: 180px;
        border: 2px solid $gris;
        border-radius: 60px 60px 60px 60px;
        margin-left: 20px;
        &--s{
            width: 250px;
        }
    }

    &--div:hover{
        color: white;
        background-color: $gris;
        color: $blue;
        & i{
            color: $gris;
                background-color: $blue;
          
        }
     
    }

    
}

.lastblock{

    @include font-size_tab;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Raleway';

   
    & div{
        font-size: 15px;
       
        & i{
            
           
            height: 35px;
        width: 35px;
        color: $blue;
        // background-color: $bleue-claire;
        border: 2px solid $gris;
        border-radius: 50% 50% 50%  50%;

         //--cette zone permet essentiellement de centrer--//
         display: inline-flex;
         align-items: center;
         justify-content: center;
     //--cette zone permet essentiellement de centrer--//
            
           
            font-size: smaller;

            }}
    
}

// form modifié
form{
    @include font-size;
     div{
        width: 200px;
       height: 50px;
        
        margin-bottom: 20px;
     }
     .form-div{
        display:flex;
        & i{
            
            background-color:$gris;
            border-radius: 20px 0px 0px 20px;
           padding: 15px;
        }
        & input{
            all: unset;
            border: 1px solid $gris;
           &:focus{
                border: 3px solid $blue;
            }
        
        }
        & label{
            // background-color: grey;
            border-radius: 0px 20px 20px 0px;
            font-size: large;
            padding: 12px;
            @include typo-fontWeifgh;
            
                background-color: $blue;
                color: white;
            &:hover{
                background-color: $bleue-claire;
                color: $blue;
            }
        }
     }

}

}





// // ------------------------------
// // --CHARGEMENT DU STYLE mobile--
// // ------------------------------





@media screen and  (max-device-width :777px) {

    .thirdblock{
        display: none;
    }

    #seachsuite{
        display: inline;
    }
  
    

    label{
        display: none;
    }

//     .thirdblock-mobil-uniqu{
//         display: inline;
// }
.firstblock{ 
    
    display: flex;
    flex-direction: column;
    // --centrage du premier bloc--//

    align-items: center; //centrage vertical
    justify-content: center; //centrage horizontale
   
   @include font-size_mob;

    & img{
        @include dimensions-image_mob(40.5px , 80px);
        border-radius: unset;
    }

   

  &-ul{
    display: flex;

    &--li{
        list-style-type: none;
        & a{
            all:unset;
        }

    }
    &--li1{
        border-top: 2px solid $blue;
    }
    &--li2{
        border-top: 2px solid $gris;
    }
 }
     li{
        padding:30px  ;
     }
    //  ul :nth-child(1){
    //     border-top: 2px solid $blue;
    //  }
     li:hover{
        color: $blue;
        border-top: 2px solid $blue;
     }
} 

.secondblock{
    // border: 1px solid red;
    
    margin-bottom: 20px;
    @include font-size_mob;
    &-s1{
        @include typo-fontWeifgh_mob;
        font-family:'Raleway';
     
    }

    &-s2{
        margin-top: 1px;
        font-family: 'Raleway';
        font-size: 15px;
       
       }
}



#thirdblock-mobil-uniqu{
    //activation du bloc dedie uniquement au mobile
    display: flex;
    flex-wrap: wrap;
    

 
    #filtre{
        margin-bottom: 10px;
       
    }
    
    // border: 1px solid green;
   
    // flex-direction: column;
    @include font-size;
    font-family:'Raleway';
    &--div1{
        display: flex;
        flex-direction: column;
     
    }

    .thirdblock-mobil-uniqu {
        
        &--div1-1 {
            height: 39px;
            width: 240px;
            border: 2px solid $gris;
            border-radius: 60px 60px 60px 60px;
            margin-left: 30px;
            margin-bottom: 5px;
        }

        &--div1-1:hover{
            
                color: white;
                background-color: $gris;
                color: $blue;
                & i{
                    color: $gris;
                        background-color: $blue;
                  
                }
    }
}

    &--div2{
        display: flex;
        flex-direction: column;
      
    }
    .thirdblock-mobil-uniqu {
        &--div2-2{
                height: 39px;
                width: 240px;
                border: 2px solid $gris;
                border-radius: 60px 60px 60px 60px;
                margin-left: 30px;
                margin-bottom: 5px;
                
            }
            &--div2-2:hover{
            
                color: white;
                background-color: $gris;
                color: $blue;
                & i{
                    color: $gris;
                        background-color: $blue;
                  
                }
    }
   }

    & span{
        
       
        padding-right: 15px;
        @include typo-fontWeifgh;
        font-size: 100%;
       
    }
    i{ 
    //--cette zone permet essentiellement de centrer--//
        display: inline-flex;
        align-items: center;
        justify-content: center;
    //--cette zone permet essentiellement de centrer--//
        height: 35px;
        width: 35px;
        color: $blue;
        background-color: $bleue-claire;
        border: 2px solid $gris;
        border-radius: 50% 50% 50%  50%;

        
       
        
        font-size: smaller
    }
  
    &--div-mobil-uniqu:hover{
        color: white;
        background-color: $gris;
        color: $blue;
        & i{
            color: $gris;
                background-color: $blue;
          
        }
     
    }

    
}

.lastblock{


    @include font-size_mob;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-family: 'Raleway';

    

    & div{
        font-size: 15px;
       
        & i{
            
           
            height: 35px;
        width: 35px;
        color: $blue;
        // background-color: $bleue-claire;
        border: 2px solid $gris;
        border-radius: 50% 50% 50%  50%;

         //--cette zone permet essentiellement de centrer--//
         display: inline-flex;
         align-items: center;
         justify-content: center;
     //--cette zone permet essentiellement de centrer--//
            
           
            font-size: smaller;

        }
    }
    
}

form{


    all: unset;
    @include font-size_mob;
     div{
        width: auto;
       height: 80px;
        
        margin-bottom: 20px;
     }
     .form-div{
            display:flex;
            
        &-i1{
           
            background-color:$gris;
            border-radius: 20px 0px 0px 20px;
            padding: 15px;
            width: 40px;


              //--centrage de l'icone--//
                display: inline-flex;
                align-items: center;
                justify-content: center;
            //--centrage de l'icone--//
      
        }
         
        
            & input{
                width: 40%;
                border: 1px solid $gris;
                &:focus{
                    border: 1px solid $blue;
                }
                
            
            }
            
            #seachsuite{
                 //--centrage de l'icone--//
                 display: inline-flex;
                 align-items: center;
                 justify-content: center;
             //--centrage de l'icone--//
                & i{
           
                    // background-color: $blue;
                    width: 40px;
                }
          
               
                background-color: $blue;
                border-radius: 10px 10px 10px 10px;

                &:hover{
                    background-color: $bleue-claire;
                    color: $blue;
                }
                width:60px;

               
            }
       }

} 
}