#seachsuite {
  display: none;
}

#thirdblock-mobil-uniqu {
  display: none;
}

@media screen and (min-width: 992px) {
  .firstblock {
    min-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
  }
  .firstblock img {
    width: 80px;
    height: 40px;
    border-radius: 20px 20px 1px 1px;
    padding: 30px;
    border-radius: unset;
  }
  .firstblock-ul {
    display: flex;
  }
  .firstblock-ul--li {
    list-style-type: none;
  }
  .firstblock-ul--li a {
    all: unset;
  }
  .firstblock-ul--li1 {
    border-top: 2px solid #0065FC;
  }
  .firstblock li {
    padding: 30px;
  }
  .firstblock li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }
  .secondblock {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .secondblock-s1 {
    font-weight: bold;
    font-family: "Raleway";
    font-family: "Raleway";
  }
  .secondblock-s2 {
    margin-top: 1px;
    font-family: "Raleway";
  }
  .thirdblock {
    display: inline-flex;
    font-size: 20px;
    font-family: "Raleway";
  }
  .thirdblock span {
    padding-right: 15px;
    font-weight: bold;
    font-family: "Raleway";
  }
  .thirdblock i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    font-size: smaller;
  }
  .thirdblock--div {
    height: 39px;
    width: auto;
    border: 1px solid #F2F2F2;
    border-radius: 60px 60px 60px 60px;
    margin-left: 20px;
  }
  .thirdblock--div:hover {
    color: white;
    background-color: #F2F2F2;
    color: #0065FC;
  }
  .thirdblock--div:hover i {
    color: #F2F2F2;
    background-color: #0065FC;
  }
  .lastblock {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Raleway";
  }
  .lastblock div {
    font-size: 15px;
  }
  .lastblock div i {
    height: 35px;
    width: 35px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
  }
  form {
    font-size: 20px;
  }
  form div {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  form .form-div {
    display: flex;
  }
  form .form-div i {
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
  }
  form .form-div input {
    all: unset;
    border: 1px solid #F2F2F2;
  }
  form .form-div input:focus {
    border: 3px solid #0065FC;
  }
  form .form-div label {
    border-radius: 0px 20px 20px 0px;
    font-size: large;
    padding: 12px;
    font-weight: bold;
    font-family: "Raleway";
    background-color: #0065FC;
    color: white;
  }
  form .form-div label:hover {
    background-color: #DEEBFF;
    color: #0065FC;
  }
}
@media screen and (min-width: 778px) and (max-width: 991px) {
  .firstblock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 15px;
  }
  .firstblock img {
    width: 80px;
    height: 40px;
    border-radius: 20px 20px 1px 1px;
    padding: 30px;
    border-radius: unset;
  }
  .firstblock-ul {
    display: flex;
  }
  .firstblock-ul--li {
    list-style-type: none;
  }
  .firstblock-ul--li a {
    all: unset;
  }
  .firstblock-ul--li1 {
    border-top: 2px solid #0065FC;
  }
  .firstblock li {
    padding: 30px;
  }
  .firstblock li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }
  .secondblock {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .secondblock-s1 {
    font-weight: bold;
    font-family: "Raleway";
    font-family: "Raleway";
  }
  .secondblock-s2 {
    margin-top: 1px;
    font-family: "Raleway";
  }
  .thirdblock {
    display: inline-flex;
    font-size: 20px;
    font-family: "Raleway";
  }
  .thirdblock span {
    padding-right: 15px;
    font-weight: bold;
    font-family: "Raleway";
    font-size: auto;
  }
  .thirdblock i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    font-size: smaller;
  }
  .thirdblock--div {
    height: 39px;
    width: 180px;
    border: 2px solid #F2F2F2;
    border-radius: 60px 60px 60px 60px;
    margin-left: 20px;
  }
  .thirdblock--div--s {
    width: 250px;
  }
  .thirdblock--div:hover {
    color: white;
    background-color: #F2F2F2;
    color: #0065FC;
  }
  .thirdblock--div:hover i {
    color: #F2F2F2;
    background-color: #0065FC;
  }
  .lastblock {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Raleway";
  }
  .lastblock div {
    font-size: 15px;
  }
  .lastblock div i {
    height: 35px;
    width: 35px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
  }
  form {
    font-size: 20px;
  }
  form div {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  form .form-div {
    display: flex;
  }
  form .form-div i {
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
  }
  form .form-div input {
    all: unset;
    border: 1px solid #F2F2F2;
  }
  form .form-div input:focus {
    border: 3px solid #0065FC;
  }
  form .form-div label {
    border-radius: 0px 20px 20px 0px;
    font-size: large;
    padding: 12px;
    font-weight: bold;
    font-family: "Raleway";
    background-color: #0065FC;
    color: white;
  }
  form .form-div label:hover {
    background-color: #DEEBFF;
    color: #0065FC;
  }
}
@media screen and (((max-device-width: 777px) and (min-device-width: 250px)) or ((max-width: 777px) and (min-width: 250px))) {
  .thirdblock {
    display: none;
  }
  #seachsuite {
    display: inline;
  }
  label {
    display: none;
  }
  .firstblock {
    all: unset;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    font-size: 35px;
  }
  .firstblock img {
    width: 80px;
    height: 40.5px;
    border-radius: 20px 20px 1px 1px;
    border-radius: unset;
    margin-left: 45%;
  }
  .firstblock-ul {
    display: flex;
  }
  .firstblock-ul--li {
    list-style-type: none;
  }
  .firstblock-ul--li a {
    all: unset;
  }
  .firstblock-ul--li1 {
    border: none;
    border-bottom: 2px solid #0065FC;
    width: 50%;
  }
  .firstblock-ul--li2 {
    border: none;
    border-bottom: 2px solid #F2F2F2;
    width: 50%;
    margin-right: 20px;
  }
  .firstblock li {
    padding: 30px;
  }
  .firstblock li:hover {
    border: none;
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
  }
  .secondblock {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .secondblock-s1 {
    font-weight: bold;
    font-family: "Raleway";
    font-family: "Raleway";
  }
  .secondblock-s2 {
    margin-top: 1px;
    font-family: "Raleway";
    font-size: 15px;
  }
  #thirdblock-mobil-uniqu {
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: "Raleway";
  }
  #thirdblock-mobil-uniqu #filtre {
    margin-bottom: 10px;
  }
  #thirdblock-mobil-uniqu--div1 {
    display: flex;
    flex-direction: column;
  }
  #thirdblock-mobil-uniqu .thirdblock-mobil-uniqu--div1-1 {
    height: 39px;
    width: 240px;
    border: 2px solid #F2F2F2;
    border-radius: 60px 60px 60px 60px;
    margin-left: 30px;
    margin-bottom: 5px;
  }
  #thirdblock-mobil-uniqu .thirdblock-mobil-uniqu--div1-1:hover {
    color: white;
    background-color: #F2F2F2;
    color: #0065FC;
  }
  #thirdblock-mobil-uniqu .thirdblock-mobil-uniqu--div1-1:hover i {
    color: #F2F2F2;
    background-color: #0065FC;
  }
  #thirdblock-mobil-uniqu--div2 {
    display: flex;
    flex-direction: column;
  }
  #thirdblock-mobil-uniqu .thirdblock-mobil-uniqu--div2-2 {
    height: 39px;
    width: 240px;
    border: 2px solid #F2F2F2;
    border-radius: 60px 60px 60px 60px;
    margin-left: 30px;
    margin-bottom: 5px;
  }
  #thirdblock-mobil-uniqu .thirdblock-mobil-uniqu--div2-2:hover {
    color: white;
    background-color: #F2F2F2;
    color: #0065FC;
  }
  #thirdblock-mobil-uniqu .thirdblock-mobil-uniqu--div2-2:hover i {
    color: #F2F2F2;
    background-color: #0065FC;
  }
  #thirdblock-mobil-uniqu span {
    padding-right: 15px;
    font-weight: bold;
    font-family: "Raleway";
    font-size: 100%;
  }
  #thirdblock-mobil-uniqu i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    font-size: smaller;
  }
  #thirdblock-mobil-uniqu--div-mobil-uniqu:hover {
    color: white;
    background-color: #F2F2F2;
    color: #0065FC;
  }
  #thirdblock-mobil-uniqu--div-mobil-uniqu:hover i {
    color: #F2F2F2;
    background-color: #0065FC;
  }
  .lastblock {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    font-family: "Raleway";
  }
  .lastblock div {
    font-size: 15px;
  }
  .lastblock div i {
    height: 35px;
    width: 35px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
  }
  form {
    all: unset;
    font-size: 35px;
  }
  form div {
    width: auto;
    height: 80px;
    margin-bottom: 20px;
  }
  form .form-div {
    display: flex;
  }
  form .form-div-i1 {
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  form .form-div input {
    width: 40%;
    border: 1px solid #F2F2F2;
  }
  form .form-div input:focus {
    border: 1px solid #0065FC;
  }
  form .form-div #seachsuite {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #0065FC;
    border-radius: 10px 10px 10px 10px;
    width: 60px;
  }
  form .form-div #seachsuite i {
    width: 40px;
  }
  form .form-div #seachsuite:hover {
    background-color: #DEEBFF;
    color: #0065FC;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../static/Raleway-Light.ttf") format("truetype"), url("..static/Raleway-SemiBold.ttf") format("truetype");
}
.br {
  display: none;
}

@media all and (min-width: 992px) {
  html {
    width: auto;
  }
  html header {
    padding-left: 40px;
  }
  main {
    padding-left: 40px;
    font-size: 15px;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 380px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
  }
  main .aside #populaire {
    padding-left: 20px;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 150px;
    height: 115px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-align:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    width: 230px;
    height: 100px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .hebergement--figure:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-size: large;
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: blue;
    font-size: large;
  }
  main .hebergements {
    height: 650px;
    width: 900px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  main .hebergements #Hebergements {
    padding-left: 20px;
  }
  main .hebergements--bloc1 {
    display: flex;
  }
  main .hebergements--bloc2 {
    display: flex;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
  }
  main .img-activite {
    width: 289px;
    height: 180px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    min-width: 1300px;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main figcaption {
    margin: 15px;
  }
  main #last-section--row1 {
    width: 289px;
    height: 445px;
    border-radius: 20px 20px 1px 1px;
    margin-top: 5px;
  }
  main #last-section--row2 {
    width: 289px;
    height: 445px;
    border-radius: 20px 20px 1px 1px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row1:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row2:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column10:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column11:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column20:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column21:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media all and (min-width: 778px) and (max-width: 991px) {
  html {
    min-width: auto;
  }
  #populaire {
    padding-left: 20px;
  }
  figcaption {
    margin: 5px;
  }
  main {
    font-size: 12px;
  }
  main section {
    all: unset;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 350px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 80px;
    height: 80px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-align:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    width: 130px;
    height: 90px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .hebergement--figure:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-size: large;
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: blue;
    font-size: large;
  }
  main .hebergements {
    height: 100%;
    width: 600px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  main .hebergements--bloc1 {
    display: flex;
  }
  main .hebergements--bloc2 {
    display: flex;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
  }
  main .img-activite {
    width: 200px;
    height: 90px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    width: 100%;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main #last-section--row1 {
    width: 200px;
    height: 245px;
    border-radius: 20px 20px 1px 1px;
  }
  main #last-section--row2 {
    width: 200px;
    height: 245px;
    border-radius: 20px 20px 1px 1px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row1:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row2:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column10:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column11:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column20:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column21:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media screen and ((max-device-width: 777px)) {
  #populaire {
    padding-left: 20px;
  }
  .br {
    display: flex;
  }
  figcaption {
    font-size: 40px;
  }
  main {
    font-size: 35px;
  }
  main section {
    all: unset;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    all: unset;
    display: flex;
    flex-direction: column;
    all: unset;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-align:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
    border: 1px solid black;
  }
  main .hebergement--figure:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-weight: bold;
    font-family: "Raleway";
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: #0065FC;
    font-size: 40px;
  }
  main .hebergements {
    all: unset;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    border: 2px solid greenyellow;
  }
  main .hebergements--bloc1 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc2 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
    flex-direction: column-reverse;
  }
  main .img-activite {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    flex-direction: column;
  }
  main .last-section figcaption {
    margin: 15px;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 .white-radius-background-aside {
    padding: 5px;
    margin: 20px;
    background-color: white;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main #last-section--row1 {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main #last-section--row2 {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_row1:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_row2:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column10:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column11:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column20:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column21:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media screen and ((max-width: 777px) and (min-width: 600px)) {
  #populaire {
    padding-left: 20px;
  }
  .br {
    display: flex;
  }
  figcaption {
    font-size: 125%;
  }
  main {
    font-size: 120%;
  }
  main section {
    all: unset;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    all: unset;
    display: flex;
    flex-direction: column;
    all: unset;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 300px;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-align:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
    border: 1px solid black;
  }
  main .hebergement--figure:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-weight: bold;
    font-family: "Raleway";
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: #0065FC;
    font-size: 40px;
  }
  main .hebergements {
    all: unset;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    border: 2px solid greenyellow;
  }
  main .hebergements--bloc1 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc2 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
    flex-direction: column-reverse;
  }
  main .img-activite {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    flex-direction: column;
  }
  main .last-section figcaption {
    margin: 15px;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 .white-radius-background-aside {
    padding: 5px;
    margin: 20px;
    background-color: white;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main #last-section--row1 {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main #last-section--row2 {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_row1:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_row2:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column10:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column11:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column20:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column21:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media screen and (max-width: 600px) {
  #populaire {
    padding-left: 20px;
  }
  .br {
    display: flex;
  }
  figcaption {
    font-size: 125%;
  }
  main {
    font-size: 120%;
  }
  main section {
    all: unset;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    all: unset;
    display: flex;
    flex-direction: column;
    all: unset;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 200px;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-align:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    border-radius: 20px;
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
    border: 1px solid black;
  }
  main .hebergement--figure:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-weight: bold;
    font-family: "Raleway";
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: 40px;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: #0065FC;
    font-size: 40px;
  }
  main .hebergements {
    all: unset;
    height: auto;
    width: 100%;
    background-color: #F2F2F2;
    border: 2px solid greenyellow;
  }
  main .hebergements--bloc1 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc2 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
    flex-direction: column-reverse;
  }
  main .img-activite {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    flex-direction: column;
  }
  main .last-section figcaption {
    margin: 15px;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 .white-radius-background-aside {
    padding: 5px;
    margin: 20px;
    background-color: white;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main #last-section--row1 {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main #last-section--row2 {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 1px 1px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_row1:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_row2:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column10:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column11:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column20:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 95%;
    height: auto;
  }
  main .figure_last-section_column21:hover:hover {
    background-color: #DEEBFF;
    animation: agrand 500ms ease-out;
  }
  @keyframes agrand {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    min-width: 1350px;
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    height: 200px;
    font-size: 20px;
  }
  footer div a {
    all: unset;
    margin-top: 10px;
  }
  footer .firstfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .firstfooter span {
    margin-top: 20px;
  }
  footer .firstfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .secondfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .secondfooter span {
    margin-top: 20px;
  }
  footer .secondfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .thirdfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .thirdfooter span {
    margin-top: 20px;
  }
  footer .thirdfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
}
@media screen and (min-width: 778px) and (max-width: 991px) {
  footer {
    width: 950px;
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    height: 200px;
    font-size: 15px;
  }
  footer div a {
    all: unset;
    margin-top: 10px;
  }
  footer .firstfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .firstfooter span {
    margin-top: 20px;
  }
  footer .firstfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .secondfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .secondfooter span {
    margin-top: 20px;
  }
  footer .secondfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .thirdfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .thirdfooter span {
    margin-top: 20px;
  }
  footer .thirdfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
}
@media (max-width: 777px) {
  footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-top: 50px;
    font-size: 35px;
  }
  footer div a {
    all: unset;
    margin-top: 10px;
  }
  footer .firstfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .firstfooter span {
    margin-top: 20px;
  }
  footer .firstfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .secondfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .secondfooter span {
    margin-top: 20px;
  }
  footer .secondfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .thirdfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .thirdfooter span {
    margin-top: 20px;
  }
  footer .thirdfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
}

/*# sourceMappingURL=style.css.map */
