@media screen and (min-width: 992px) {
  .firstblock {
    min-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
  }
  .firstblock img {
    width: 80px;
    height: 40px;
    border-radius: 20px 20px 1px 1px;
    padding: 30px;
    border-radius: unset;
  }
  .firstblock-ul {
    display: flex;
  }
  .firstblock-ul--li {
    list-style-type: none;
  }
  .firstblock-ul--li a {
    all: unset;
  }
  .firstblock-ul--li1 {
    border-top: 2px solid #0065FC;
  }
  .firstblock li {
    padding: 30px;
  }
  .firstblock li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }
  .secondblock {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .secondblock-s1 {
    font-weight: bold;
    font-family: "Raleway";
    font-family: "Raleway";
  }
  .secondblock-s2 {
    margin-top: 1px;
    font-family: "Raleway";
  }
  .thirdblock {
    display: flex;
    font-size: 20px;
    font-family: "Raleway";
  }
  .thirdblock span {
    margin: 10px;
    padding-right: 15px;
    font-weight: bold;
    font-family: "Raleway";
  }
  .thirdblock i {
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    padding: 8px;
    font-size: smaller;
  }
  .thirdblock--span {
    border: 1px solid #0065FC;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
  }
  .thirdblock--span:hover {
    color: white;
    background-color: #0065FC;
  }
  .lastblock {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Raleway";
  }
  .lastblock span i {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    font-size: smaller;
  }
  form {
    font-size: 20px;
  }
  form div {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  form .form-div {
    display: flex;
  }
  form .form-div i {
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
  }
  form .form-div input {
    border: 1px solid #F2F2F2;
  }
  form .form-div label {
    border-radius: 0px 20px 20px 0px;
    font-size: large;
    padding: 12px;
    font-weight: bold;
    font-family: "Raleway";
    background-color: #0065FC;
    color: white;
  }
}
@media screen and (min-width: 778px) and (max-width: 991px) {
  .firstblock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 15px;
  }
  .firstblock img {
    width: 80px;
    height: 40px;
    border-radius: 20px 20px 1px 1px;
    padding: 30px;
    border-radius: unset;
  }
  .firstblock-ul {
    display: flex;
  }
  .firstblock-ul--li {
    list-style-type: none;
  }
  .firstblock-ul--li a {
    all: unset;
  }
  .firstblock-ul--li1 {
    border-top: 2px solid #0065FC;
  }
  .firstblock li {
    padding: 30px;
  }
  .firstblock li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }
  .secondblock {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .secondblock-s1 {
    font-weight: bold;
    font-family: "Raleway";
    font-family: "Raleway";
  }
  .secondblock-s2 {
    margin-top: 1px;
    font-family: "Raleway";
  }
  .thirdblock {
    display: flex;
    font-size: 15px;
    font-family: "Raleway";
  }
  .thirdblock span {
    margin: 10px;
    padding-right: 15px;
    font-weight: bold;
    font-family: "Raleway";
  }
  .thirdblock i {
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    padding: 8px;
    font-size: smaller;
  }
  .thirdblock--span {
    border: 1px solid #0065FC;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
  }
  .thirdblock--span:hover {
    color: white;
    background-color: #0065FC;
  }
  .lastblock {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Raleway";
  }
  .lastblock span i {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    font-size: smaller;
  }
  form {
    font-size: 15px;
  }
  form div {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  form .form-div {
    display: flex;
  }
  form .form-div i {
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
  }
  form .form-div input {
    border: 1px solid #F2F2F2;
  }
  form .form-div label {
    border-radius: 0px 20px 20px 0px;
    font-size: large;
    padding: 12px;
    font-weight: bold;
    font-family: "Raleway";
    background-color: #0065FC;
    color: white;
  }
}
@media screen and (width < 778px) {
  .firstblock {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .firstblock img {
    width: 80px;
    height: 40px;
    border-radius: 20px 20px 1px 1px;
    padding: 30px;
    padding-left: 150px;
    border-radius: unset;
  }
  .firstblock-ul {
    display: flex;
  }
  .firstblock-ul--li {
    list-style-type: none;
  }
  .firstblock-ul--li a {
    all: unset;
  }
  .firstblock-ul--li1 {
    border-top: 2px solid #0065FC;
  }
  .firstblock-ul--li2 {
    border-top: 2px solid #F2F2F2;
  }
  .firstblock li {
    padding: 30px;
  }
  .firstblock li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }
  .secondblock {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .secondblock-s1 {
    font-weight: bold;
    font-family: "Raleway";
    font-family: "Raleway";
  }
  .secondblock-s2 {
    margin-top: 1px;
    font-family: "Raleway";
    font-size: 15px;
  }
  .thirdblock {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Raleway";
  }
  .thirdblock span {
    margin: 10px;
    font-weight: bold;
    font-family: "Raleway";
  }
  .thirdblock i {
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    padding: 8px;
    font-size: smaller;
  }
  .thirdblock--span {
    border: 1px solid #0065FC;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
    width: 220px;
  }
  .thirdblock div {
    padding: 8px;
  }
  .thirdblock--span:hover {
    color: white;
    background-color: #0065FC;
  }
  .lastblock {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Raleway";
  }
  .lastblock div {
    font-size: 15px;
  }
  .lastblock div i {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50% 50% 50% 50%;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    font-size: smaller;
  }
  form {
    font-size: 18px;
  }
  form div {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  form .form-div {
    display: flex;
  }
  form .form-div i {
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
    padding: 15px;
  }
  form .form-div input {
    border: 1px solid #F2F2F2;
  }
  form .form-div label {
    border-radius: 0px 20px 20px 0px;
    font-size: large;
    padding: 12px;
    font-weight: bold;
    font-family: "Raleway";
    background-color: #0065FC;
    color: white;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../static/Raleway-Light.ttf") format("truetype"), url("..static/Raleway-SemiBold.ttf") format("truetype");
}
.br {
  display: none;
}

@media screen and (min-width: 992px) {
  html {
    width: auto;
  }
  html header {
    padding-left: 40px;
  }
  main {
    padding-left: 40px;
    font-size: 15px;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 380px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
  }
  main .aside #populaire {
    padding-left: 20px;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 150px;
    height: 115px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    width: 230px;
    height: 100px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-size: large;
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: blue;
    font-size: large;
  }
  main .hebergements {
    height: 650px;
    width: 900px;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  main .hebergements #Hebergements {
    padding-left: 20px;
  }
  main .hebergements--bloc1 {
    display: flex;
  }
  main .hebergements--bloc2 {
    display: flex;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
  }
  main .img-activite {
    width: 289px;
    height: 180px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    min-width: 1300px;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main figcaption {
    margin: 15px;
  }
  main #last-section--row1 {
    width: 289px;
    height: 445px;
    border-radius: 20px 20px 1px 1px;
    margin-top: 5px;
  }
  main #last-section--row2 {
    width: 289px;
    height: 445px;
    border-radius: 20px 20px 1px 1px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media screen and (min-width: 778px) and (max-width: 991px) {
  html {
    min-width: 768px;
    max-width: 991px;
  }
  figcaption {
    margin: 5px;
  }
  main {
    font-size: 12px;
  }
  main section {
    all: unset;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 110%;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 40px;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 80px;
    height: 80px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    width: 130px;
    height: 90px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-size: large;
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: large;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: blue;
    font-size: large;
  }
  main .hebergements {
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
  }
  main .hebergements--bloc1 {
    display: flex;
  }
  main .hebergements--bloc2 {
    display: flex;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
  }
  main .img-activite {
    width: 200px;
    height: 90px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    width: 100%;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main #last-section--row1 {
    width: 200px;
    height: 245px;
    border-radius: 20px 20px 1px 1px;
  }
  main #last-section--row2 {
    width: 200px;
    height: 245px;
    border-radius: 20px 20px 1px 1px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media screen and (width < 778px) {
  .br {
    display: flex;
  }
  figcaption {
    font-size: 15px;
  }
  main {
    font-size: 18px;
  }
  main section {
    all: unset;
  }
  main h1, main span {
    font-family: "Raleway";
  }
  main figure {
    all: unset;
  }
  main figure figcaption a {
    all: unset;
  }
  main .aside {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 350px;
    background-color: #F2F2F2;
  }
  main .aside h1 i {
    float: right;
    margin-right: 30px;
  }
  main .aside-img {
    width: 130px;
    height: 130px;
    border-radius: 20px 20px 1px 1px;
    border-radius: 20px 1px 1px 20px;
  }
  main .aside-caption11_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .aside-caption11_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption11-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption12_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .aside-caption12_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption12-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-caption13_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .aside-caption13_star em {
    all: unset;
    color: gray;
  }
  main .aside-caption13-img1 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .aside-align {
    display: flex;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    background-color: white;
  }
  main .aside-caption {
    margin-left: 20px;
  }
  main .img-heberegements {
    border-radius: 20px;
    width: 300px;
    height: 100px;
    border-radius: 20px 20px 1px 1px;
  }
  main .hebergement--figure {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 300px;
    height: auto;
  }
  main .figure_hebergements_bloc1_caption11 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption11_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .figure_hebergements_bloc1_caption11_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption12 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption12_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .figure_hebergements_bloc1_caption12_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc1_caption13 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc1_caption13_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .figure_hebergements_bloc1_caption13_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption21 {
    font-size: large;
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption21_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .figure_hebergements_bloc2_caption21_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption22 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption22_star {
    color: rgb(15, 68, 244);
    font-size: 15px;
  }
  main .figure_hebergements_bloc2_caption22_star em {
    all: unset;
    color: gray;
  }
  main .figure_hebergements_bloc2_caption23 {
    font-weight: bold;
    font-family: "Raleway";
  }
  main .figure_hebergements_bloc2_caption23_star {
    color: blue;
    font-size: large;
  }
  main .hebergements--bloc1 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc2 {
    display: flex;
    flex-direction: column;
  }
  main .hebergements--bloc3-afficherPlus {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 40px;
  }
  main .hebergements--bloc3-afficherPlus a {
    all: unset;
  }
  main .hebergemenets-aside {
    display: flex;
    flex-direction: column-reverse;
  }
  main .img-activite {
    width: 300px;
    height: 100px;
    border-radius: 20px 20px 1px 1px;
  }
  main .last-section {
    display: flex;
    flex-direction: column;
  }
  main .last-section figcaption {
    margin: 15px;
  }
  main .last-section--column1 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 {
    display: flex;
    flex-direction: column;
  }
  main .last-section--column2 .white-radius-background-aside {
    padding: 5px;
    margin: 20px;
    background-color: white;
  }
  main .figure_last-section_class-generale {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  main .figure_last-section_row1 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 300px;
    height: auto;
  }
  main .figure_last-section_row1_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_row2 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 300px;
    height: auto;
  }
  main .figure_last-section_row2_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column10 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 300px;
    height: auto;
  }
  main .figure_last-section_column10_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column11 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 300px;
    height: auto;
  }
  main .figure_last-section_column11_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column20 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 300px;
    height: auto;
  }
  main .figure_last-section_column20_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
  main .figure_last-section_column21 {
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    width: 300px;
    height: auto;
  }
  main .figure_last-section_column21_caption {
    font-weight: bold;
    font-family: "Raleway";
    margin-left: 20px;
  }
}
@media screen and (min-width: 992px) {
  footer {
    min-width: 100%;
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    height: 200px;
    font-size: 20px;
  }
  footer div a {
    all: unset;
    margin-top: 10px;
  }
  footer .firstfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .firstfooter span {
    margin-top: 20px;
  }
  footer .firstfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .secondfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .secondfooter span {
    margin-top: 20px;
  }
  footer .secondfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .thirdfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .thirdfooter span {
    margin-top: 20px;
  }
  footer .thirdfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
}
@media screen and (min-width: 778px) and (max-width: 991px) {
  footer {
    width: 100%;
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    height: 200px;
    font-size: 15px;
  }
  footer div a {
    all: unset;
    margin-top: 10px;
  }
  footer .firstfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .firstfooter span {
    margin-top: 20px;
  }
  footer .firstfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .secondfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .secondfooter span {
    margin-top: 20px;
  }
  footer .secondfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .thirdfooter {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .thirdfooter span {
    margin-top: 20px;
  }
  footer .thirdfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
}
@media screen and (width < 778px) {
  footer {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin-top: 50px;
    font-size: 18px;
  }
  footer div a {
    all: unset;
    margin-top: 10px;
  }
  footer .firstfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .firstfooter span {
    margin-top: 20px;
  }
  footer .firstfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .secondfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .secondfooter span {
    margin-top: 20px;
  }
  footer .secondfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
  footer .thirdfooter {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    font-family: "Raleway";
  }
  footer .thirdfooter span {
    margin-top: 20px;
  }
  footer .thirdfooter :nth-child(1) {
    font-weight: bold;
    font-family: "Raleway";
  }
}

/*# sourceMappingURL=style.css.map */
