// --ETANT DONNÉE QUE ENCAPSULER LES VARIABLES PAR LE MEDIA QUERY LA REND INNACCESSIBLE, CHAQUE VERSION (MOBILE.TABLETTE,DESKTOP) AURA CES VARIABLES A PART --


// --VARIABLES DEKTOP--// --VARIABLES TABLETTE--// -VARIABLES MOBILE--
$footer-orientation:column;
$taille_etoiles:large;
$taille_etoiles_mob:30px;
$taille_etoiles_mob-ord:20px;
$taille_etoiles_mob-ord1:20px;
$taille_etoiles-ord-asid: 100%;
$blue: #0065FC;
$bleue-claire: #DEEBFF ;
$gris:#F2F2F2;
$anim_dur:500ms;




